__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
dist/
build/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
venv*/
.env/
.envrc
docker-build/
.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.log
vpn.conf
.env
